* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62.5%;
}

:root {
  --text-color: #e5e5e5;
  --bg-url: url(./assets/bg-mobile.png);
  --bg-url-media: url(./assets/bg-web.jpg);
  --switch-bg-url: white url(assets/web.svg) no-repeat top center/contain;
  --bg-bt: transparent;
  --button-color: #e5e5e5;
  --button-text: #202020;
  --switch-color: rgba(255, 255, 255, 0.692);
  --flip-preserve: preserve-3d;
  --animation: rotateY(0deg);
  --animation-back: rotateY(-180deg);
  --ft-bg: #202020;
  --gd-color: #e5e5e5;
  --wd-color: #519872;
}

.light {
  --bg-url: url(./assets/bg-web-light.jpg);
  --bg-url-media: url(./assets/bg-web-light.jpg);
  --switch-bg-url: white url(assets/game.svg) no-repeat top center/contain;
  --flip-preserve: preserve-3d;
  --button-text: #34252f;
  --bg-bt: #85a775;
  --animation-back: rotateY(0deg);
  --animation: rotateY(180deg);
  --ft-bg: #19221e;
  --gd-color: #19221e;
  --wd-color: #e5e5e5;
}

body {
  background: var(--bg-url) no-repeat top center/cover;
  background-size: cover;
}

@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}

.light #switch button {
  animation: slide-in 0.4s;
}

.layout {
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

.max-width-container {
  flex: 1;
  width: 100%;
  max-width: 406px;
  margin-top: 6.4rem;
  margin-inline: auto;
  padding-inline: 2rem;
}

/*------------------------- header ------------------------------ */

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
  color: var(--text-color);
}

.avatar {
  outline: 2px solid var(--text-color);
  width: 9.6rem;
  border: 2px solid transparent;
  border-radius: 50%;
  transition: border 0.2s ease;
}

.avatar:hover {
  border-color: var(--text-color);
}
.gd {
  color: var(--gd-color);
}

.wd {
  color: var(--wd-color);
}

.subtittle {
  font-size: 1.4rem;
  text-decoration: underline;
}

.tittle {
  font-size: 2rem;
}

/*------------------------- switch------------------------------ */

#switch {
  width: 64px;
  margin: 20px auto 4px;
  position: relative;
}

#switch button {
  width: 32px;
  height: 32px;
  background: var(--switch-bg-url);
  border: none;
  top: 50%;
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  transform: translateY(-50%);
  animation: slide-back 0.4s;
  transition: outline 0.2s;
}

#switch span {
  width: 64px;
  height: 24px;
  background: var(--switch-color);
  border: #202020;
  backdrop-filter: blur(4px);
  display: block;
  border-radius: 9999px;
}

.light #switch button {
  right: 0;
}

#switch button:hover {
  outline: 5px solid rgba(255, 255, 255, 0.452);
}

/*------------------------- buttons ------------------------------ */

.card-butons {
  text-decoration: none;
}

.links-container {
  background-color: transparent;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-top: 3.2rem;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.card-buttons {
  font-weight: 500;
  font-size: 1.4rem;
  text-decoration: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 2.6rem;
  background-color: var(--button-color);
  color: var(--button-text);
  border-radius: 8px;
  border: 2px solid transparent;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  min-width: 17rem;
  transform: var(--animation);
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: transform 0.5s ease, background 0.2s ease;
}

.card-buttons:hover {
  color: var(--text-color);
  fill: var(--text-color);
  background: none;
  border-color: var(--text-color);
}

.button-content {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

/*------------------------- back buttons ------------------------------ */

.flip-back {
  font-weight: 500;
  font-size: 1.4rem;
  text-decoration: none;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: var(--animation-back);
  padding-block: 2.6rem;
  background-color: var(--bg-bt);
  color: #202020;

  border-radius: 8px;
  border: 2px solid transparent;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  min-width: 17rem;

  transform-style: preserve-3d;
  transition: transform 0.5s ease, background 0.2s ease;
}

.flip-back:hover {
  color: var(--text-color);
  fill: var(--text-color);
  background: none;
  border-color: var(--text-color);
}

.back-logo {
  font-size: 3.2rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  transform-style: var(--style);
}

li {
  display: flex;
  position: relative;
  transform-style: preserve-3d;
}

ul {
  transform-style: preserve-3d;
}

.front-logo {
  font-size: 3.2rem;
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  transform-style: var(--style);
}

.card-buttons svg {
  position: absolute;
  left: 1rem;
  width: 3.2rem;
  top: 50%;
  transform: translateY(-50%);
}

/*------------------------- footer ------------------------------ */

footer {
  background-color: var(--ft-bg);
  color: #e5e5e573;
  text-align: center;
  font-size: 1.2rem;
  padding-block: 1.6rem;
}

footer a {
  color: #e5e5e5d0;
}

@media screen and (min-width: 640px) {
  body {
    background: var(--bg-url-media) no-repeat top center/cover;
  }
}
